main {
    margin-bottom: 5rem;
}

.ngo {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: list-appear 0.5s ease-out forwards;
}

.ngo h3 {
    margin: 0 0 0.25rem 0;
}

.ngo button {
    font: inherit;
    cursor: pointer;
    background-color: #057abe;
    border: 1px solid #057abe;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 5px;
}

.ngo button:hover {
    background-color: #045b8d;
    border: 1px solid #045b8d;
}

.ngo ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ngo p {
    font-size: 25px;
    margin-left: 20px;
    font-weight: 500;
}

@keyframes list-appear {
    from {
        opacity: 0;
        transform: translateX(2rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
